.forgot-password1-child {
  position: absolute;
  top: 384px;
  left: 164px;
  width: 231px;
  height: 227.5px;
  object-fit: contain;
}
body {
  background-color: #000;
}
.forgot-password1-item {
  position: absolute;
  top: 130px;
  left: 745px;
  border-radius: var(--br-77xl);
  background-color: var(--color-darkslategray);
  width: 704px;
  height: 785px;
}
.forgot-password2,
.voice-notes4 {
  position: absolute;
  top: 73px;
  left: 81px;
  display: inline-block;
  width: 525px;
  height: 138px;
}
.forgot-password2 {
  top: 241px;
  left: 772px;
  font-size: var(--font-size-41xl);
  color: var(--color-royalblue);
  width: 577px;
  height: 110px;
}
.image-removebg-preview-1-icon2 {
  position: absolute;
  top: 362px;
  left: 142px;
  width: 276px;
  height: 284px;
  object-fit: cover;
}
.group-child9 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-base);
  border: 1px solid var(--color-lavender-100);
  box-sizing: border-box;
  width: 473px;
  height: 68.7px;
}
.back-to-sign-in {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 252px;
  height: 24px;
}
.back-to-sign-in-wrapper {
  position: absolute;
  top: 22px;
  left: 153px;
  width: 252px;
  height: 24px;
}
.group-wrapper1,
.rectangle-parent7 {
  position: absolute;
  top: 0;
  left: 0;
  width: 473px;
  height: 68.7px;
}
.group-wrapper1 {
  top: 382px;
  left: 53px;
  cursor: pointer;
}
.or2 {
  position: absolute;
  top: 0;
  left: 208px;
  display: inline-block;
  width: 36px;
  height: 36px;
}
.subtract-icon2 {
  position: relative;
  width: 473px;
  height: 1px;
}
.or-container {
  position: absolute;
  top: 292px;
  left: 43px;
  width: 473px;
  height: 36px;
  font-size: var(--font-size-11xl);
}
.group-child10 {
  position: absolute;
  top: 180px;
  left: 117px;
  border-radius: var(--br-base);
  background: linear-gradient(100.33deg, #0047ff, #7692db);
  box-shadow: 0 8px 21px rgba(0, 0, 0, 0.16);
  width: 313px;
  height: 68.1px;
  cursor: pointer;
}
.request-password-reset {
  position: absolute;
  top: 202px;
  left: 146px;
  font-size: var(--font-size-xl);
  display: inline-block;
  width: 266px;
  height: 23.7px;
}
.enter-your-email,
.please-enter-your {
  position: absolute;
  top: 0;
  left: 3px;
  display: inline-block;
  width: 588px;
  height: 59.2px;
}
.enter-your-email {
  top: 39px;
  left: 0;
  width: 258px;
  height: 38px;
}
.rectangle-parent8 {
  position: absolute;
  top: 0;
  left: 0;
  width: 591px;
  height: 248.1px;
  cursor: pointer;
  font-size: var(--font-size-lg);
}
.forgot-password1-inner,
.group-parent1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 591px;
  height: 450.7px;
}
.forgot-password1-inner {
  top: 354px;
  left: 772px;
  font-size: var(--font-size-xl);
  font-family: var(--font-poppins);
}
.email-child {
  position: absolute;
  top: 34px;
  left: 0;
  width: 470px;
  height: 2px;
  object-fit: contain;
}
.abcgmailcom,
.email {
  position: absolute;
  top: 0;
  left: 3px;
}
.email {
  top: 431px;
  left: 775px;
  width: 470px;
  height: 36px;
  font-size: var(--font-size-lg);
  color: var(--color-darkgray);
  font-family: var(--font-poppins);
}
.forgot-password1 {
  width: 100%;
  position: relative;
  background-color: var(--color-black);
  height: 997px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-61xl);
  color: var(--color-white);
  font-family: var(--font-sometype-mono);
}

.input-container1 {
  margin-bottom: 20px;
}

.input-container1 input {
  font-size: 20px;
  width: 100%;
  padding: 20px;
  background-color: rgb(48, 54, 54);
  border: 1px solid rgb(48, 54, 54);
  border-radius: 5px;
  outline: none;
}

.input-container1 input:focus {
  border-color: #007bff; /* Change to your desired focus color */
}
