.login1-child,
.login1-item {
  position: absolute;
  top: 384px;
  left: 169px;
  width: 222.4px;
  height: 219px;
}
body {
  background-color: #000;
}
.login1-item {
  top: 119px;
  left: 756px;
  border-radius: var(--br-77xl);
  background-color: var(--color-darkslategray);
  width: 704px;
  height: 785px;
}
.login2,
.voice-notes2 {
  position: absolute;
  top: 73px;
  left: 81px;
  display: inline-block;
  width: 525px;
  height: 138px;
}
.login2 {
  top: 146px;
  left: 940px;
  color: var(--color-royalblue);
  width: 373px;
  height: 110px;
}
.image-removebg-preview-1-icon1 {
  position: absolute;
  top: 60%; /* Center the mic image vertically within mic-container */
  left: -205%; /* Center the mic image horizontally within mic-container */
  transform: translate(-50%, -50%); /* Center the mic image precisely */
  width: 276px;
  height: 284px;
  object-fit: cover;
  z-index: 9999;
}

.group-child5 {
  top: 0;
  left: 0;
  border-radius: var(--br-base);
  background-color: var(--color-lavender-200);
  height: 68.7px;
}
.password1 {
  position: absolute;
  top: 22.5px;
  left: 62.4px;
  display: inline-block;
  width: 75.4px;
  height: 23.8px;
}
.frame-icon3 {
  position: absolute;
  top: 18.5px;
  left: 23.4px;
  width: 31.2px;
  height: 31.7px;
  overflow: hidden;
}
.rectangle-parent3 {
  position: absolute;
  top: 92.4px;
  left: 0;
  width: 473px;
  height: 68.7px;
  color: var(--color-gray);
}
.confirm-password1 {
  position: absolute;
  top: 3.5px;
  left: 38.6px;
  display: inline-block;
  width: 126px;
  height: 24px;
}
.frame-icon4 {
  position: absolute;
  top: 0;
  left: 0;
  width: 31.2px;
  height: 31.7px;
  overflow: hidden;
}
.confirm-password-parent {
  position: absolute;
  top: 201.5px;
  left: 18.4px;
  width: 164.6px;
  height: 31.7px;
  color: var(--color-gray);
}
.username1 {
  position: absolute;
  top: 22.4px;
  left: 62.4px;
  display: inline-block;
  width: 80.6px;
  height: 23.8px;
}
.group-child7,
.rectangle-parent4 {
  position: absolute;
  top: 0;
  left: 0;
  height: 68.7px;
}
.rectangle-parent4 {
  width: 473px;
  color: var(--color-gray);
}
.group-child7 {
  border-radius: var(--br-base);
  background: linear-gradient(100.33deg, #0047ff, #7692db);
  box-shadow: 0 8px 21px rgba(0, 0, 0, 0.16);
  width: 161.1px;
  cursor: pointer;
  margin-top: 50px;
}
.login3 {
  position: absolute;
  top: 22px;
  left: 54px;
  display: inline-block;
  width: 65px;
  height: 24px;

}
.rectangle-parent5 {
  position: absolute;
  top: 269px;
  left: 160px;
  width: 161.1px;
  height: 68.7px;
  font-size: var(--font-size-xl);
}
.group-child8 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-base);
  border: 1px solid var(--color-lavender-100);
  box-sizing: border-box;
  width: 473px;
  height: 68.7px;
}



.forgot-password,
.group-container {
  position: absolute;
  top: 288px;
  left: 832px;
  width: 484px;
  height: 497.7px;
  font-size: var(--font-size-xs);
  font-family: var(--font-poppins);
}
.forgot-password {
  top: 474px;
  left: 1136px;
  font-size: var(--font-size-lg);
  display: inline-block;
  width: 170px;
  height: 24px;
  cursor: pointer;
  margin-top: 80px;
  margin-left: 50px;
}
.login1 {
  width: 100%;
  position: relative;
  background-color: var(--color-black);
  height: 997px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-61xl);
  color: var(--color-white);
  font-family: var(--font-sometype-mono);
}

.pulse-circle {
  position: absolute;
  width: 350px;
  height: 350px;
  border-radius: 50%;
  background-color: rgba(118, 146, 219, 0.5);
  animation: pulse 2s ease-in-out infinite;
  top: 0%;
  left: -269%;
  z-index: 1; 
}

.pulse-circle1 {
  animation-delay: -1s;
}

.pulse-circle2 {
  animation-delay: -2s;
}

.mic-container {
  position: relative;
  top: 342px; 
  left: 838px; 
  width: 276px;
  height: 284px;
  z-index: 1; 
}


.input-container {
  margin-bottom: 20px;
}

.input-container input {
  font-size: 20px;
  width: 100%;
  padding: 20px;
  color: white;
  background-color: rgb(48, 54, 54);
  border: 1px solid rgb(48, 54, 54);
  border-radius: 5px;
  outline: none;
}

.input-container input:focus {
  border-color: #007bff; /* Change to your desired focus color */
}



@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 0.5;
  }
  50% {
    transform: scale(2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0.5;
  }
}

