.reset-password1-child {
  position: absolute;
  top: 384px;
  left: 164px;
  width: 231px;
  height: 227.5px;
  object-fit: contain;
}
body {
  background-color: #000;
}
.reset-password1-item {
  position: absolute;
  top: 130px;
  left: 745px;
  border-radius: var(--br-77xl);
  background-color: var(--color-darkslategray);
  width: 604px;
  height: 785px;
}
.forgot-password3,
.voice-notes5 {
  position: absolute;
  top: 73px;
  left: 81px;
  display: inline-block;
  width: 525px;
  height: 138px;
}
.forgot-password3 {
  top: 241px;
  left: 772px;
  font-size: var(--font-size-41xl);
  color: var(--color-royalblue);
  width: 577px;
  height: 110px;
}
.image-removebg-preview-1-icon3 {
  position: absolute;
  top: 362px;
  left: 142px;
  width: 276px;
  height: 284px;
  object-fit: cover;
}
.group-child11 {
  position: absolute;
  top: 254.3px;
  left: 117px;
  border-radius: var(--br-base);
  background: linear-gradient(100.33deg, #0047ff, #7692db);
  box-shadow: 0 8px 21px rgba(0, 0, 0, 0.16);
  width: 313px;
  height: 73.5px;
}
.request-password-reset1 {
  position: absolute;
  top: 278px;
  left: 146px;
  font-size: var(--font-size-xl);
  display: inline-block;
  width: 266px;
  height: 25.6px;
}
.enter-your-email1,
.please-enter-your1 {
  position: absolute;
  top: 0;
  left: 3px;
  display: inline-block;
  width: 588px;
  height: 63.9px;
}
.enter-your-email1 {
  top: 42.1px;
  left: 0;
  width: 158px;
  height: 41px;
}
.email-item,
.group-wrapper2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 391px;
  height: 267.7px;
  z-index: 1;
}
.email-item {
  top: 34px;
  width: 470px;
  height: 2px;
  object-fit: contain;
}
.abcgmailcom1,
.email1 {
  position: absolute;
  top: 0;
  left: 3px;
}
.email1 {
  top: 80px;
  width: 470px;
  height: 36px;
  color: var(--color-darkgray);
}
.group-parent2 {
  position: absolute;
  top: 457px;
  left: 772px;
  width: 291px;
  height: 267.7px;
  font-size: var(--font-size-lg);
  font-family: var(--font-poppins);
}
.reset-password1-inner {
  position: absolute;
  top: 334px;
  left: 764px;
  border-radius: var(--br-15xl);
  background-color: rgba(95, 219, 92, 0.22);
  width: 491px;
  height: 109px;
  z-index: 1;
}
.weve-e-mailed-you {
  margin: 0;
}
.weve-e-mailed-you-container {
  position: absolute;
  top: 351px;
  left: 788px;
  font-size: var(--font-size-6xl);
  font-weight: 200;
  font-family: var(--font-poppins);
}
.reset-password1 {
  width: 100%;
  position: relative;
  background-color: var(--color-black);
  height: 996px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-61xl);
  color: var(--color-white);
  z-index: 1;
  font-family: var(--font-sometype-mono);
}

.back-to-login {
  position: absolute;
  top: 600px; /* Adjust the top position as needed */
  left: 1150px; /* Adjust the left position as needed */
  z-index: 9999;
  font-size: 20px;
  padding: 20px 20px;
  font-family: var(--font-poppins);
}
